.citizen-body {
	a.image {
		display: inline-block;
		overflow: hidden;
		vertical-align: top; // get rid of that weird bottom gap from inline block

		> img {
			transition: var( --transition-hover );
			transition-property: transform;
		}

		// Add affordance to replace magnify icon
		/*&:hover:not( .lazy ):not( .new ) {
			> img {
				transform: scale( 1.1 );
			}
		}*/
	}

	.wikia-gallery {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
	}
}
