// Hide RSS icon
a.feedlink {
	background: none !important;
}

.screen-reader-text {
	.mixin-screen-reader-text;
}

/**
 * OOUI has some layout issues when the font size is not
 * same as what is being used in Vector. This is a dirty
 * hack to ensure that the UI is displayed correctly.
 *
 * This is put here because the OOUI skinstyle is lazyloaded,
 * causing significant layout shift
 *
 * Revisit this when T254055 is resolved
 */
.oo-ui-widget {
	font-size: 0.875rem;
}

// Replace 50em (50 * 0.875rem) with 50rem
.oo-ui-textInputWidget {
	max-width: 50rem;
}

